.buttons {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.stopwatchButton {
  border: none;
  margin: 0px 5px;
  width: 70px;
  height: 20px;
  background-color: steelblue;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.stopwatchButton:hover {
  background-color: darkslateblue;
}
