.onServiceContainer {
  margin-top: 150px;
  display: flex;
  width: 100%;
}

.onServiceLeft {
  flex: 2;
  margin-right: 40px;
}

.patientCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background: #faf9f9;
  -webkit-box-shadow: -1px 4px 11px -4px #000000;
  box-shadow: -1px 4px 11px -4px #000000;
}

.patientFoto {
  margin-top: -70px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.patientName {
  font-size: 20px;
  margin-top: 15px;
  font-weight: 600;
}

.patientInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.patientInfoLeft {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  color: #949494;
  font-size: 17px;
}

.patientInfoLeftKey {
  margin: 10px 0;
}

.patientInfoRight {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.patientInfoRightValue {
  margin: 10px 0;
  font-weight: 500;
}

.onServiceRight {
  flex: 7;
}

.onServiceNavigation {
  width: 100%;
  background-color: #f7f7f7;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-weight: 500;
}

.onServiceNavigationList {
  display: flex;
}

.onServiceNavigationItem {
  margin-right: 50px;
  list-style: none;
  cursor: pointer;
  font-weight: 600;
  color: #555;
  padding: 2px 10px;
}

.onServiceNavigationItem:hover {
  color: #fff;
  background-color: steelblue;
  border-radius: 5px;
}

.onServiceDraftsContainer {
  display: flex;
  padding: 10px 0px;
}

.draft {
  margin: 0 10px;
  margin-top: 10px;
}

.draftTitle {
  font-weight: 500;
  font-size: 15px;
}

.vaccinationsContainer {
  padding: 40px 0px 0px 0px;
  flex-direction: column;
  display: flex;
}

.vaccineButton {
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: steelblue;
  width: 200px;
  height: 50px;
}

.vaccineButton:hover {
  background-color: blueviolet;
}

.commentButton {
  width: 200px;
  height: 40px;
  background-color: steelblue;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  margin-top: 20px;
  cursor: pointer;
}
.commentButton:hover {
  background-color: blueviolet;
}

.timelineWrapper {
  width: 100%;
  top: 0;
  overflow-y: scroll;
  max-height: 500px;
}

.vaccinesList {
  list-style: none;
  margin-bottom: 20px;
}

.vaccinesListItem {
  padding-left: 15px;
  font-size: 16px;
  margin: 10px 0;
  font-weight: 400;
}
